@{
    string url = Request.Url.ToString().ToLower();
}
<style>
    .menu li{
        background-color:#777777;
    }
</style>
@if (url.Contains("home"))
{
    <aside class="col-sm-3 col-md-2 sidebar">
        <nav class="menu" data-toggle="menu" style="width: 200px">
            <button class="btn btn-primary"><i class="icon-edit"></i> CREATE</button>
            <button class="btn"><i class="icon-cloud-upload"></i> UPLOAD</button>
            <ul style="background-color:black" class="nav nav-primary">
                <li ><a href="javascript:;"><i class="icon-th"></i> 系统管理</a></li>
                <li><a href="javascript:;"><i class="icon-user"></i> 访问统计</a></li>
                <li class="nav-parent">
                    <a href="javascript:;"><i class="icon-time"></i> Time</a>
                    <ul class="nav">
                        <li><a href="javascript:;">Today</a></li>
                        <li><a href="javascript:;">Tomarrow</a></li>
                        <li><a href="javascript:;">Yestorday</a></li>
                        <li><a href="javascript:;">This Week</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;"><i class="icon-trash"></i> Trash</a></li>
                <li><a href="javascript:;"><i class="icon-list-ul"></i> All</a></li>
                <li class="active show nav-parent">
                    <a href="javascript:;"><i class="icon-tasks"></i> Status</a>
                    <ul class="nav">
                        <li><a href="javascript:;"><i class="icon-circle-blank"></i> Ready</a></li>
                        <li class="active"><a href="javascript:;"><i class="icon-play-sign"></i> Ongoing</a></li>
                        <li><a href="javascript:;"><i class="icon-ok-sign"></i> Completed</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}
else if (url.Contains("blogarticle"))
{
    <aside class="col-sm-3 col-md-2 sidebar">
        <nav class="menu" data-toggle="menu" style="width: 200px">
            <button class="btn btn-primary"><i class="icon-edit"></i> CREATE</button>
            <button class="btn"><i class="icon-cloud-upload"></i> UPLOAD</button>
            <ul style="background-color:black" class="nav nav-primary">
                <li class="nav-parent"><a href="javascript:;"><i class="icon-th"></i> 系统统计</a>
                    <ul class="nav">
                        <li><a href="javascript:;">访问统计</a></li>
                        <li><a href="javascript:;">用户统计</a></li>
                    </ul>
                
                </li>

                <li class="active show nav-parent"><a href="javascript:;"><i class="icon-user"></i>博客管理</a>
                    <ul class="nav">
                        <li><a href="javascript:;">博客列表</a></li>
                        <li><a href="/admin/BlogArticle/Add">发布博客</a></li>
                    </ul>
                
                </li>
                <li class="nav-parent">
                    <a href="javascript:;"><i class="icon-time"></i>广告管理</a>
                    <ul class="nav">
                        <li><a href="javascript:;">轮播图管理</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href="javascript:;"><i class="icon-time"></i>用户管理</a>
                    <ul class="nav">
                        <li><a href="javascript:;">修改信息</a></li>
                        <li><a href="javascript:;">修改密码</a></li>
                        <li>
                            <a href="javascript:;"><i class="icon-time"></i>用户信息管理</a>
                            <ul class="nav">
                                <li><a>修改信息</a></li>
                                <li><a>修改密码</a></li>
                            </ul>    
                        </li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href="javascript:;"><i class="icon-time"></i>权限管理</a>
                    <ul class="nav">
                        <li><a href="javascript:;">用户授权</a></li>
                        <li><a href="javascript:;">用户组管理</a></li>
                        <li><a href="javascript:;">用户组授权</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href="javascript:;"><i class="icon-time"></i>日志管理</a>
                    <ul class="nav">
                        <li><a href="javascript:;">用户日志</a></li>
                        <li><a href="javascript:;">系统日志</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
    </aside>
}